www.isa-afp.org {
    redir https://isa-afp.org{uri}
}

isa-afp.org {
    root /srv/afp
    file_server

    header {
      Access-Control-Allow-Origin https://{{ config.domains.afp_submit }}
    }
}

www.devel.isa-afp.org {
    redir https://devel.isa-afp.org{uri}
}

devel.isa-afp.org {
    root /var/www/afp-devel
    file_server
}