[Unit]
Description=AFP Submission Service Frontend

[Service]
ExecStart={{ config.afp.container_home }}/.local/share/lxc/base/rootfs/opt/Isabelle{{ config.isabelle.version }}/bin/isabelle afp_submit -p 8080 -b https://www.isa-afp.org/webapp /var/afpbuild
User=conrad
Environment="HOME=/media/data/conrad/.local/share/lxc/base/rootfs/home/ubuntu"

[Install]
WantedBy=multi-user.target

