:443

handle /browser_info/* {
    root /var/www/afp
    file_server
}

handle /* {
    reverse_proxy :8080
}

tls /var/lib/caddy/.local/share/caddy/tls/fullchain.pem /var/lib/caddy/.local/share/caddy/tls/key.pem